body{
margin:0;
padding:0;
background:linear-gradient(135deg,#ff9ec4,#ffc8dd,#cdb4db);
font-family:'Cairo',sans-serif;
overflow:hidden;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
text-align:center;
}

.container{
padding:20px;
}

#name{
font-size:55px;
color:#fff;
text-shadow:
0 0 10px #fff,
0 0 20px hotpink,
0 0 40px deeppink,
0 0 70px deeppink;
display:none;
animation:glow 1.5s infinite alternate;
}

@keyframes glow{

from{
text-shadow:0 0 10px hotpink;
}

to{
text-shadow:0 0 40px deeppink;
}

}

button{

padding:18px 35px;

font-size:22px;

border:none;

border-radius:40px;

background:#ff4d8d;

color:white;

cursor:pointer;

box-shadow:0 0 20px hotpink;

}

button:hover{

transform:scale(1.05);

}

#countdown{

font-size:80px;

font-weight:bold;

color:white;

margin-top:30px;

}

#message{

margin-top:30px;

font-size:28px;

color:white;

max-width:700px;

line-height:1.8;

}

canvas{

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

pointer-events:none;

}